In [1]:
import pandas as pd
import os

In [83]:
pd.set_option('display.max_rows', 50)

In [2]:
df = pd.read_csv(f'{os.getcwd()}\\smhi-opendata_1_64520_20221211_080324.csv', delimiter=';', header=7, dtype={'Unnamed: 4': 'string', 'Tidsutsnitt:': 'string'})

In [3]:
df.dtypes

Datum              object
Tid (UTC)          object
Lufttemperatur    float64
Kvalitet           object
Unnamed: 4         string
Tidsutsnitt:       string
dtype: object

In [4]:
df.tail(40)

             Datum Tid (UTC)  Lufttemperatur Kvalitet Unnamed: 4 Tidsutsnitt:
194808  2006-11-11  06:00:00             4.9        G       <NA>         <NA>
194809  2006-11-11  18:00:00             3.7        G       <NA>         <NA>
194810  2006-11-12  06:00:00             2.2        G       <NA>         <NA>
194811  2006-11-12  18:00:00             2.4        G       <NA>         <NA>
194812  2006-11-13  06:00:00            -1.8        G       <NA>         <NA>
194813  2006-11-13  18:00:00             4.7        G       <NA>         <NA>
194814  2006-11-14  06:00:00             6.5        G       <NA>         <NA>
194815  2006-11-14  18:00:00             5.4        G       <NA>         <NA>
194816  2006-11-15  06:00:00             5.7        G       <NA>         <NA>
194817  2006-11-15  18:00:00             7.0        G       <NA>         <NA>
194818  2006-11-16  06:00:00             8.8        G       <NA>         <NA>
194819  2006-11-16  18:00:00             7.6        G       <NA>         <NA>
194820  2006-11-17  06:00:00             6.5        G       <NA>         <NA>
194821  2006-11-17  18:00:00             8.7        G       <NA>         <NA>
194822  2006-11-18  06:00:00             7.7        G       <NA>         <NA>
194823  2006-11-18  18:00:00             8.4        G       <NA>         <NA>
194824  2006-11-19  06:00:00             4.0        G       <NA>         <NA>
194825  2006-11-19  18:00:00             4.6        G       <NA>         <NA>
194826  2006-11-20  06:00:00             2.3        G       <NA>         <NA>
194827  2006-11-20  18:00:00             4.9        G       <NA>         <NA>
194828  2006-11-21  06:00:00             4.7        G       <NA>         <NA>
194829  2006-11-21  18:00:00             5.0        G       <NA>         <NA>
194830  2006-11-22  06:00:00             4.6        G       <NA>         <NA>
194831  2006-11-22  18:00:00             1.5        G       <NA>         <NA>
194832  2006-11-23  06:00:00             4.1        G       <NA>         <NA>
194833  2006-11-23  18:00:00             4.0        G       <NA>         <NA>
194834  2006-11-24  06:00:00             7.4        G       <NA>         <NA>
194835  2006-11-24  18:00:00             7.3        G       <NA>         <NA>
194836  2006-11-25  06:00:00             7.5        G       <NA>         <NA>
194837  2006-11-25  18:00:00             7.7        G       <NA>         <NA>
194838  2006-11-26  06:00:00             8.6        G       <NA>         <NA>
194839  2006-11-26  18:00:00             6.7        G       <NA>         <NA>
194840  2006-11-27  06:00:00             6.8        G       <NA>         <NA>
194841  2006-11-27  18:00:00             6.7        G       <NA>         <NA>
194842  2006-11-28  06:00:00             6.5        G       <NA>         <NA>
194843  2006-11-28  18:00:00             7.5        G       <NA>         <NA>
194844  2006-11-29  06:00:00             5.8        G       <NA>         <NA>
194845  2006-11-29  18:00:00             6.1        G       <NA>         <NA>
194846  2006-11-30  06:00:00             7.5        G       <NA>         <NA>
194847  2006-11-30  18:00:00             9.2        G       <NA>         <NA>

In [5]:
df.query('Lufttemperatur < 1.0')

             Datum Tid (UTC)  Lufttemperatur Kvalitet Unnamed: 4 Tidsutsnitt:
19      1860-01-07  13:00:00             0.8        G       <NA>         <NA>
20      1860-01-07  20:00:00            -0.1        G       <NA>         <NA>
21      1860-01-08  07:00:00            -5.4        G       <NA>         <NA>
22      1860-01-08  13:00:00            -2.2        G       <NA>         <NA>
23      1860-01-08  20:00:00            -0.4        G       <NA>         <NA>
...            ...       ...             ...      ...        ...          ...
194793  2006-11-03  18:00:00            -1.1        G       <NA>         <NA>
194805  2006-11-09  18:00:00             0.5        G       <NA>         <NA>
194806  2006-11-10  06:00:00            -2.0        G       <NA>         <NA>
194807  2006-11-10  18:00:00             0.0        G       <NA>         <NA>
194812  2006-11-13  06:00:00            -1.8        G       <NA>         <NA>

[51718 rows x 6 columns]